Django==3.1
django-heroku==0.3.1
djangorestframework==3.10.3
emoji==0.6.0
django-model-utils
Pillow
pytz
gunicorn
whitenoise
dj-database-url
django-heroku
psycopg2
python-decouple
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.16.4
pandas==0.24.2